# template enviroment file, copy to .env
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
KINTO_URL=http://localhost:8888/v1/
KINTO_USER=admin
KINTO_PASSWORD=password
CLIENT_URL=http://localhost:1234/
