node_modules
voice-web
common-voice
dist
.cache
.env
docker-compose.prod.yml
.ignored_files
.vscode
.DS_Store
coverage
.nyc_output
data

# Locales info from Common Voice
locales/*.json

# Translations from Common Voice
web/locales/
!web/locales/en