node_modules
voice-web
common-voice
dist
.cache
.env
docker-compose.prod.yml
.ignored_files
.vscode
.DS_Store
coverage
.nyc_output
data

# Translations from Common Voice
# We do not want these to change, as we pull
# these when building the app.
web/locales/
!web/locales/en