body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13pt;
  color: black;
  width: 100vw;
  height: 100vh;
  margin: 0;
}


h1, h2, h3, h4 {
  font-family: 'Zilla Slab', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  border-radius: 3px;
  border: 1px solid #959595;
  padding: 0.2rem;
  font-size: 1.1rem;
}

button {
  box-sizing: border-box;
  line-height: 1.125;
  transition: background-color 100ms, border-color 100ms, color 100ms;
  background-color: #000000;
  border-radius: 2px;
  border: 2px solid #000000;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 0.7rem 1.3rem;
  text-decoration: none;
}

button:hover {
  background-color: white;
  color: black;
}

#content {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
}

header {
  width: 10rem;
  background-color: black;
  color: white;
  padding: 1rem;
}

nav {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

nav > a {
  padding: .3rem;
}

nav > .active {
  background-color: white;
  color: black;
}

#page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

main {
  min-height: calc(100vh - 2rem);
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  height: 2rem;
}
form {
  width: 13rem;
  margin: 2rem auto;
  background-color: #e7e5e2;
  padding: 0.7rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

form section {
  padding: 0.4rem;
}

form label {
  width: 20%;
  display: inline-block;
  font-weight: bold;
}

form input {
  width: 100%;
  margin-bottom: 0.5rem;
}

form button {
  margin: 0.5rem auto;
  display: block;
}
