form {
  width: 13rem;
  margin: 2rem auto;
  background-color: #e7e5e2;
  padding: 0.7rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

form section {
  padding: 0.4rem;
}

form label {
  width: 20%;
  display: inline-block;
  font-weight: bold;
}

form input {
  width: 100%;
  margin-bottom: 0.5rem;
}

form button {
  margin: 0.5rem auto;
  display: block;
}
