header {
  color: var(--main-font-color);
  padding: 0.5rem 0;
  min-height: var(--header-height);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 600;
  border-bottom: 1px solid #e5e5e5;
}

header a {
  padding: 0.5rem 1.2rem;
  text-decoration: none;
}

header img {
  width: 10rem;
  padding-left: 0.8rem;
}

nav {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: uppercase;
  padding-left: 2rem;
}

nav > .active {
  box-shadow: inset 0 -2px 0 0 var(--active-font-color);
}

header label {
  font-size: 1.5rem;
}

#hamburgerIcon {
  display: none;
  padding-right: 1.2rem;
}

#hamburgerIcon input {
  display: none;
}

#mobileNav {
  display: none;
  flex-direction: column;
  text-align: center;
}

#mobileNav > a,
#mobileNav .login-widget {
  padding: 1.5rem 0;
  border-bottom: 1px solid var(--grey-color);
  width: 100%;
  text-decoration: none;
}

@media screen and (max-width: 1500px) {
  #hamburgerIcon {
    display: inline-block;
  }

  #desktopNav,
  #mobileNav.hidden {
    display: none;
  }

  #mobileNav.shown {
    display: flex;
  }
}
