button.remove-lang {
  display: inline-block;
  margin: 0 0.3rem;
  color: var(--main-font-color);
  background: transparent;
  border: none;
  box-shadow: none;
  text-decoration: underline;
}

#change-password {
  max-width: 600px;
}

#change-password button {
  margin: 0;
}

#change-password .form-error {
  text-align: left;
}