button.remove-lang {
  display: inline-block;
  margin: 0 0.3rem;
  color: var(--main-font-color);
  background: transparent;
  border: none;
  text-decoration: underline;
}

button.remove-lang:hover,
button.remove-lang:active {
  background-color: transparent;
  color: inherit;
}
