#review-form {
  --sentence-box-height: 6rem;
}

.validator {
  --validator-height: 6.6rem;
  height: var(--validator-height);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.sentence-box,
.card-sentence-box {
  height: var(--sentence-box-height);
  border: 1px solid var(--grey-color);
  flex-basis: 100%;
  line-height: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  padding: 0.25rem 1rem;
}

.sentence-box small,
.card-sentence-box small {
  color: var(--dark-grey-color);
}

.card-sentence-box {
  border: none;
  padding: 0;
  width: 100%;
  height: 100%;
}

.validator li {
  height: calc(var(--validator-height) / 2);
  line-height: calc(var(--validator-height) / 2);
}

.button-group {
  width: 6rem;
}

.button-group.small {
  width: 2.5rem;
}

.validator .button-group button {
  border: 1px solid var(--grey-color);
  border-radius: 0;
  font-size: 1.3em;
  margin: 0.2em;
  padding: 0.45rem 1.3rem;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
}

.validator .button-group button.yes {
  background-color: var(--review-selected-color);
}

.validator .button-group button.no {
  background-color: var(--review-selected-color);
}

#review-form .loading-text {
  width: 100%;
  text-align: center;
}

#review-form .review-footer button {
  max-height: 50px;
}

.review-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.card-review-footer {
  margin-bottom: 50px;
  text-align: center;
}

.card-review-footer .buttons {
  display: flex;
  justify-content: center;
}

.pager-container {
  text-align: center;
  display: flex;
}

.pager {
  padding: 0.5rem 0.5rem;
  margin: 0 1rem;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: 1px solid var(--main-font-color);
  border-radius: 2px;
  background-color: transparent;
  color: var(--main-font-color);
}

.pager:hover {
  background-color: gray;
}

.pager:active {
  background-color: red;
}

.pager.active {
  opacity: 0.8;
  pointer-events: none;
  text-decoration: none;
  border-color: var(--deactive-color);
  box-shadow: none;
}

.main-root {
  margin: 50px auto;
  position: relative;
  height: calc(2 * var(--sentence-box-height));
  width: 50vw;
  overflow: hidden;
}

.card {
  background-size: cover;
  position: absolute;
  background: #F8F3F3;
  height: calc(2 * var(--sentence-box-height));
  width: 50vw;
  cursor: pointer;
  padding: 1em;
  transition: box-shadow .3s;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-source {
  position: absolute;
  bottom: 20px;
  padding: 0 0.5rem;
}

.animate {
  transition: transform .3s;
  box-shadow: none;
}

.inactive {
  box-shadow: none;
}

@media screen and (max-width: 1024px) {
  .review-footer {
    flex-direction: column-reverse;
  }

  .card-review-footer {
    justify-content: space-between;
  }

  .main-root {
    width: 100%;
  }

  .card {
    width: 100%;
  }
}
