:root {
  --main-bg-color: white;
  --main-font-color: black;
  --main-border-radius: 3px;
  --main-font-family: 'Open Sans', sans-serif;
  --second-bg-color: black;
  --second-font-color: white;
  --second-font-family: 'Zilla Slab', serif;
  --deactive-color: #d7d7db;
  --grey-color: #d7d7db;
  --dark-grey-color: #5e5c5b;
  --warning-color: #ff4f5e;
  --review-selected-color: #000000;
  --review-unselected-color: #ffffff;
  --base-font-size: 19px;
  --button-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  --sentence-box-height: 8rem;
}

html {
  font-family: var(--main-font-family);
  font-size: var(--base-font-size);
  color: var(--main-font-color);
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

input, textarea, button, select {
  font-family: var(--main-font-family);
  font-size: 0.8rem;
}

h1, h2, h3, h4 {
  font-family: var(--second-font-family);
  margin: 0.5em 0;
}

a {
  color: inherit;
}

input {
  border-radius: var(--main-border-radius);
  border: 1px solid #959595;
  padding: 0.2rem;
}

button {
  box-sizing: border-box;
  line-height: 1.125;
  transition: background-color 100ms, border-color 100ms, color 100ms;
  background-color: var(--second-bg-color);
  border-radius: 2px;
  border: 2px solid var(--second-bg-color);
  box-shadow: var(--button-box-shadow);
  color: var(--second-font-color);
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 0.7rem 1.3rem;
  text-decoration: none;
}

button.secondary {
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  border: 1px solid var(--second-bg-color);
}

button:disabled {
  background-color: var(--deactive-color);
  border-color: var(--deactive-color);
  box-shadow: none;
}

button:not(:disabled):hover {
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
}

button:not(:disabled):active {
  box-shadow: none;
}

button.inverse {
  background-color: var(--main-bg-color);
  border-color: var(--main-bg-color);
  color: var(--main-font-color);
}

button.inverse:not(:disabled):active {
  background-color: var(--second-bg-color);
  border-color: var(--main-bg-color);
  color: var(--second-font-color);
  box-shadow: none;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
}

header {
  background-color: var(--second-bg-color);
  color: var(--second-font-color);
  padding: 1rem;
  flex: 0 0 30rem;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  transition: all 2s ease;
}

nav {
  margin-top: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.header-btn {
  min-height: 32px;
  width: 32px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0;
  padding: 0;
  color: var(--second-font-color);
  background-color: var(--second-bg-color);
}

.header-btn:not(:disabled):hover {
  background-color: var(--second-bg-color);
}

.header-btn-arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  width: 0px;
  margin: auto;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  color: var(--second-font-color);
}

.header-btn-arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  color: var(--second-font-color);
}

/* hide header button on large screens */

@media screen and (min-width: 1025px) {
  .header-btn-open {
    display: none;
  }
}

nav>a {
  padding: .3rem;
  text-decoration: none;
}

nav > .active {
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
}

.profile-widget {
  margin-bottom: 1rem;
  border-radius: 2px;
  text-align: center;
}

#page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

main {
  box-sizing: border-box;
  min-height: calc(100vh - 2rem);
  padding: 0.3rem 2rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

form {
  margin-top: 2rem;
}

form#login {
  width: 20rem;
}

form section {
  padding: 0.4rem;
}

form label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

form input[type="checkbox"] {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

form input[type="password"],
form input[type="text"] {
  width: 100%;
  margin-bottom: 0.5rem;
}

form button {
  margin: 0.5rem auto;
  display: block;
}

.form-message {
  line-height: 1rem;
  text-align: center;
  font-weight: bold;
}

.form-error {
  line-height: 1rem;
  color: var(--warning-color);
  text-align: center;
  font-weight: bold;
}

#external-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.7rem;
}

.divCenter {
  text-align: center;
  margin: 1em 0;
}

.loadingText {
  display: inline-block;
  font-size: 80%;
  font-weight: 800;
  width: 40%;
}

.no-bullets {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.notice {
  padding: 10px;
}

.notice.error {
  background-color: red;
  color: #fff;
}

.notice.warning {
  background-color: #f9df98;
  color: #000;
}

.error-message {
  color: red;
}

.small {
  font-size: 0.7rem;
}