:root {
  --main-bg-color: white;
  --main-font-color: black;
  --main-border-radius: 3px;
  --main-font-family: 'Open Sans', sans-serif;
  --second-bg-color: black;
  --second-font-color: white;
  --second-font-family: 'Zilla Slab', serif;
  --deactive-color: #d7d7db;
  --warning-color: #ff4f5e;
  --success-color: #54ffbd;
  --base-font-size: 19px;
  --button-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

html {
  font-family: var(--main-font-family);
  font-size: var(--base-font-size);
  color: var(--main-font-color);
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

input, textarea, button, select {
  font-family: var(--main-font-family);
  font-size: 0.8rem;
}

h1, h2, h3, h4 {
  font-family: var(--second-font-family);
  margin: 0.5em 0;
}

a {
  color: inherit;
}

input {
  border-radius: var(--main-border-radius);
  border: 1px solid #959595;
  padding: 0.2rem;
  font-size: 1.1rem;
}

button {
  box-sizing: border-box;
  line-height: 1.125;
  transition: background-color 100ms, border-color 100ms, color 100ms;
  background-color: var(--second-bg-color);
  border-radius: 2px;
  border: 2px solid var(--second-bg-color);
  box-shadow: var(--button-box-shadow);
  color: var(--second-font-color);
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 0.7rem 1.3rem;
  text-decoration: none;
}

button:disabled {
  background-color: var(--deactive-color);
  border-color: var(--deactive-color);
  box-shadow: none;
}

button:not(:disabled):hover {
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
}

button:not(:disabled):active {
  box-shadow: none;
}

button.inverse {
  background-color: var(--main-bg-color);
  border-color: var(--main-bg-color);
  color: var(--main-font-color);
}

button.inverse:not(:disabled):active {
  background-color: var(--second-bg-color);
  border-color: var(--main-bg-color);
  color: var(--second-font-color);
  box-shadow: none;
}


#root {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
}

header {
  background-color: var(--second-bg-color);
  color: var(--second-font-color);
  padding: 1rem;
  flex: 0 0 10rem;
  display: flex;
  flex-direction: column;
}

nav {
  margin-top: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

nav > a {
  padding: .3rem;
  text-decoration: none;
}

nav > .active {
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
}

.profile-widget {
  margin-bottom: 1rem;
  border-radius: 2px;
  text-align: center;
}

#page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

main {
  box-sizing: border-box;
  min-height: calc(100vh - 2rem);
  padding: 0.3rem 2rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

form {
  margin: 2rem auto;
  padding: 0.7rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
}

form#login {
  width: 20rem;
}

form section {
  padding: 0.4rem;
}

form label {
  display: inline-block;
  font-weight: bold;
}

form input[type="password"],
form input[type="text"] {
  width: 100%;
  margin-bottom: 0.5rem;
}

form button {
  margin: 0.5rem auto;
  display: block;
}

select {
  font-size: 1.1rem;
  height: 2rem;
}

#form-message {
  line-height: 1rem;
  text-align: center;
  font-weight: bold;
}

#form-error {
  line-height: 1rem;
  color: var(--warning-color);
  text-align: center;
  font-weight: bold;
}

footer {
  background-color: var(--second-bg-color);
  color: var(--second-font-color);
  text-align: center;
  height: 2rem;
}
