#language-selector-label {
  margin-right: 1rem;
  display: block;
}

#sentences-input {
  display: block;
  height: 6rem;
  width: 25.3rem;
}

#confirm-buttons {
  text-align: center;
}

#confirm-buttons button {
  display: inline-block;
  margin: 0 0.3rem;
}
