:root {
  --main-bg-color: white;
  --main-font-color: black;
  --second-bg-color: black;
  --second-font-color: white;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13pt;
  color: var(--main-font-color);
  width: 100vw;
  height: 100vh;
  margin: 0;
}


h1, h2, h3, h4 {
  font-family: 'Zilla Slab', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  border-radius: 3px;
  border: 1px solid #959595;
  padding: 0.2rem;
  font-size: 1.1rem;
}

button {
  box-sizing: border-box;
  line-height: 1.125;
  transition: background-color 100ms, border-color 100ms, color 100ms;
  background-color: var(--second-bg-color);
  border-radius: 2px;
  border: 2px solid var(--second-bg-color);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: var(--second-font-color);
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  padding: 0.7rem 1.3rem;
  text-decoration: none;
}

button:hover {
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
}

button.inverse {
  background-color: var(--main-bg-color);
  border-color: var(--second-bg-color);
  color: var(--main-font-color);
}

button.inverse:hover {
  background-color: var(--second-bg-color);
  border-color: var(--main-bg-color);
  color: var(--second-font-color);
}


#root {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
}

header {
  width: 10rem;
  background-color: var(--second-bg-color);
  color: var(--second-font-color);
  padding: 1rem;
}

nav {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

nav > a {
  padding: .3rem;
}

nav > .active {
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
}

#page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

main {
  box-sizing: border-box;
  min-height: calc(100vh - 2rem);
  padding: 0.3rem 2rem;
}

footer {
  background-color: var(--second-bg-color);
  color: var(--second-font-color);
  text-align: center;
  height: 2rem;
}
